
.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(Edge 17/50);
}


div#demo.carousel.slide {
    background-color: $colorSecundario;
    width: 50%;
    height: 600px;
    margin-left: 23%;
    margin-top: 7%;
    margin-bottom: 3%;
    border: solid gray;
    & .carousel-inner {
        height: 550px;
        width: 400px;
        background-color: $colorSecundario;
        text-align: center;
        margin-bottom: 10%;
        margin-left: 30%;
        & img {
        width: 100%;
        height: 100%;
        }
    }    
}
@mixin sizes ($height, $width, $font) {
    height: $height;
    width: $width;
    font: $font;
}

 .flexul{
    @include sizes(800px,470px,17px);
    display: grid;
    grid-column: 1/2;
    grid-row: 8/10;
    padding: 1px;
    border: 2px solid gray;
    background-color: $colorSecundario;
    justify-content: space-around;
    align-items: left;
    margin-left: 120px;
    flex-flow: column;
    margin-top: 1%;
    flex-wrap: wrap;
    & li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 3%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
        font-size: 20px;
    }
    & #comic1 {
        background-image: url(../Imagenes/Captura.PNG);
        image-rendering: auto;
        background-size: cover;
    }   
    & #comic1 {
        transition: all 2s;                     
    }    
    & #comic1:hover {
        transform: scale(1.16,1.16);
    }
    & #comic2 {
        background-image: url(../Imagenes/Locke.jpg);
        image-rendering: auto;
        background-size: cover;
    }
    & #comic2 {
        transition: all 2s;
    } 
    & #comic2:hover {
        transform: scale(1.16,1.16);
    }
    & #comic3 {
        background-image: url(../Imagenes/Spidey.PNG);
        image-rendering: auto;
        background-size: cover;
    } 
    & #comic3 {
        transition: all 2s;
    } 
    & #comic3:hover {
        transform: scale(1.16,1.16);
        }
    & #comic4 {
        background-image: url(../Imagenes/Tboys.PNG);
        image-rendering: auto;
        background-size: cover;
        }
    & #comic4 {
            transition: all 2s;
        }
    & #comic4:hover {
            transform: scale(1.16,1.16);
        }
}


.flexum{
    @include sizes(800px,470px,17px);
    display: grid;
    grid-column: 2/3;
    grid-row: 9/11;
    padding: 3%;
    border: 2px solid gray;
    background-color: $colorTerciario;
    justify-content: space-around;
    align-items: left;
    margin-left: 120px;
    flex-flow: column;
    margin-top: 1%;
    &  li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 1%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
    }
    & #venta1 {
        background-image: url(../Imagenes/venta1.jpg);
        image-rendering: auto;
        background-size: cover;
    }
    
    & #venta1 {
        transition: all 2s;
    }
    & #venta1:hover {
        transform: scale(1.16,1.16);
    }
    
    & #venta2 {
        background-image: url(../Imagenes/StarwarsDP.jpg);
        image-rendering: auto;
        background-size: cover;
    }
    & #venta2 {
        transition: all 2s;
    }
    & #venta2:hover {
        transform: scale(1.16,1.16);
    }
    & #venta3 {
        background-image: url(../Imagenes/DDevil.jpg);
            image-rendering: auto;
            background-size: cover;
        }
    & #venta3 {
        transition: all 2s;
        }
    & #venta3:hover {
            transform: scale(1.16,1.16);
        }
    & #venta4 {
        background-image: url(../Imagenes/Ashe.jpg);
        image-rendering: auto;
        background-size: cover;
        }
    & #venta4 {
            transition: all 2s;
        }
    & #venta4:hover {
            transform: scale(1.16,1.16);
        }
}


.flexur{
    @extend .flexul;
    display: grid;
    grid-column: 3/4;
    grid-row: 10/13;        
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: $colorPrimario;
    justify-content: space-around;
    align-items: left;
    margin-left: 120px;
    flex-flow: column;
    margin-top: 1%;
    margin-bottom: 2%;
    & li {
        display: flex;
        background-color: gray;
        width: 120px;
        height: 120px;
        border: 2px solid gray;
        padding: 3%;
        flex-wrap: wrap;
        align-items: center;
        text-align: right;
        justify-content: space-around;
        font-size: 20px;
    }
    & #rec1 {
        background-image: url(../Imagenes/xuniverse.jpg);
        image-rendering: auto;
        background-size: cover;
    }
    
    & #rec1 {
        transition: all 2s;
    }
    & #rec1:hover {
        transform: scale(1.16,1.16);
    }
    
    & #rec2 {
        background-image: url(../Imagenes/zombies.jpg);
        image-rendering: auto;
        background-size: cover;
    }
    & #rec2 {
        transition: all 2s;
    }
    & #rec2:hover {
        transform: scale(1.16,1.16);
    }
    & #rec3 {
        background-image: url(../Imagenes/TWD.jpg);
            image-rendering: auto;
            background-size: cover;
        }
    & #rec3 {
            transition: all 2s;
        }
    & #rec3:hover {
        transform: scale(1.16,1.16);
        }
    & #rec4 {
        background-image: url(../Imagenes/superior.jpg);
        image-rendering: auto;
        background-size: cover;
        }
    & #rec4 {
        transition: all 2s;
        }
    & #rec4:hover {
        transform: scale(1.16,1.16);
        }
    }
@media only screen and (max-width: 360px) {
        .gridcontainer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(Edge 17/50);
        }
    
        nav a:hover{
            color: #002973;
        }
    
        div#demo.carousel.slide {
            background-color: $colorSecundario;
            width: 80%;
            height: 400px;
            margin-left: 10%;
            margin-top: 58%;
            margin-bottom: 3%;
            border: solid gray;
            & .carousel-inner {
            width: 80%;
            height: 400px;
            background-color: #530e1500;
            text-align: center;
            margin-bottom: 10%;
            margin-left: 10%;
               &  img {
            width: 87%;
            height: 340px;
                }
            }
        }    
    
        .flexul{
            display: grid;
            grid-column: 1/4;
            grid-row: 8/9;
            height: 600px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 10%;
            flex-flow: column;
            margin-top: 5%;
            flex-wrap: wrap;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
                font-size: 16px;
            }
        }
        .flexum{
            display: grid;
            grid-column: 1/4;
            grid-row: 10/11;
            padding: 3%;
            height: 600px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorTerciario;
            justify-content: space-around;
            align-items: left;
            margin-left: 10%;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
        .flexur{
            display: grid;
            grid-column: 1/4;
            grid-row: 12/13;        
            padding: 3%;
            height: 600px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 10%;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
        
    }
@media only screen and (min-width: 361px) and (max-width: 750px) {
    
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(Edge 17/50);
    }
    
        nav a:hover{
            color: #002973;
        }
        div#demo.carousel.slide {
            background-color: $colorSecundario;
            width: 80%;
            height: 400px;
            margin-left: 6%;
            margin-top: 45%;
            margin-bottom: 3%;
            border: solid gray;
            & .carousel-inner {
                width: 80%;
                height: 400px;
                background-color: #530e1500;
                text-align: center;
                margin-bottom: 10%;
                margin-left: 10%;
                & img {
                    width: 87%;
                    height: 340px;
                }
            } 
        }
        
        .flexul{
            display: grid;
            grid-column: 1/4;
            grid-row: 8/9;
            height: 650px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 40px;
            flex-flow: column;
            margin-top: 5%;
            flex-wrap: wrap;
        }
        .flexum{
            display: grid;
            grid-column: 1/4;
            grid-row: 10/11;
            padding: 3%;
            height: 650px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorTerciario;
            justify-content: space-around;
            align-items: left;
            margin-left: 40px;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
        .flexur{
            display: grid;
            grid-column: 1/4;
            grid-row: 12/13;        
            padding: 3%;
            height: 650px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 40px;
            flex-flow: column;
            margin-top: 5%;
            margin-bottom: 18%;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
    }
@media only screen and (min-width: 751px) and (max-width: 1050px) {
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(Edge 17/50);
    }

        nav a:hover{
            color: #002973;
        }
    
        div#demo.carousel.slide {
            background-color: $colorSecundario;
            width: 80%;
            height: 700px;
            margin-left: 6%;
            margin-top: 10%;
            margin-bottom: 3%;
            border: solid gray;
            & .carousel-inner {
                width: 80%;
                height: 600px;
                background-color: #530e1500;
                text-align: center;
                margin-bottom: 10%;
                margin-left: 10%;
                & img {
                    width: 87%;
                    height: 600px;
                }
            } 
        }
    
        .flexul{
            display: grid;
            grid-column: 1/4;
            grid-row: 8/9;
            height: 800px;
            width: 470px;
            font-size: 17px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 120px;
            flex-flow: column;
            margin-top: 5%;
            flex-wrap: wrap;
            & li {
                display: flex;
                background-color: gray;
                width: 120px;
                height: 120px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
                font-size: 25px;
            }
        }
        .flexum{
            display: grid;
            grid-column: 1/4;
            grid-row: 10/11;
            padding: 3%;
            height: 800px;
            width: 470px;
            font-size: 17px;
            border: 2px solid gray;
            background-color: $colorTerciario;
            justify-content: space-around;
            align-items: left;
            margin-left: 120px;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 120px;
                height: 120px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
        .flexur{
            display: grid;
            grid-column: 1/4;
            grid-row: 12/13;        
            height: 800px;
            width: 470px;
            font-size: 17px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 120px;
            flex-flow: column;
            margin-top: 5%;
            flex-wrap: wrap;
            & li {
                display: flex;
                background-color: gray;
                width: 120px;
                height: 120px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: left;
                text-align: left;
                justify-content: space-around;
            }
        }
    }
    @media only screen and (min-width: 1051px) and (max-width: 1100px) {
        .gridcontainer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(Edge 17/50);
        }

        body{ 
            color: white;
            background-color: $colorPrimario;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            height: 100%;
            background-image:url(./Imagenes/fondo.jpg);
            background-size:2500px;
            background-repeat: no-repeat;
            background-position: center;
        }
        div#demo.carousel.slide {
            background-color: $colorSecundario;
            width: 65%;
            height: 700px;
            margin-left: 15%;
            margin-top: 10%;
            margin-bottom: 3%;
            border: solid gray;
            &         .carousel-inner {
                width: 75%;
                height: 600px;
                background-color: #530e1500;
                text-align: center;
                margin-bottom: 10%;
                margin-left: 10%;
                & img {
                    width: 80%;
                    height: 600px;
                }
            } 
        }
    
         nav a:hover{
             color: #002973;
         }
    
        .flexul{
            display: grid;
            grid-column: 1/3;
            grid-row: 8/9;
            height: 800px;
            width: 470px;
            font-size: 17px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 120px;
            flex-flow: column;
            margin-top: 5%;
            flex-wrap: wrap;
            & li {
                display: flex;
                background-color: gray;
                width: 120px;
                height: 120px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
                font-size: 25px;
            }
        }
        .flexum{
            display: grid;
            grid-column: 2/5;
            grid-row: 10/11;
            padding: 3%;
            height: 800px;
            width: 470px;
            font-size: 17px;
            border: 2px solid gray;
            background-color: $colorTerciario;
            justify-content: space-around;
            align-items: left;
            margin-left: 120px;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 120px;
                height: 120px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
        .flexur{
            display: grid;
            grid-column: 3/6;
            grid-row: 12/13;        
            padding: 3%;
            height: 800px;
            width: 470px;
            font-size: 17px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 120px;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 120px;
                height: 120px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
    }
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
        .gridcontainer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(Edge 17/50);
        }
    
        nav a:hover{
            color: #002973;
        }
    
        div#demo.carousel.slide {
            background-color: $colorSecundario;
            width: 70%;
            height: 400px;
            margin-left: 15%;
            margin-top: 20%;
            margin-bottom: 3%;
            border: solid gray;
            & .carousel-inner {
            width: 70%;
            height: 400px;
            background-color: #530e1500;
            text-align: center;
            margin-bottom: 10%;
            margin-left: 15%;
               &  img {
            width: 45%;
            height: 340px;
                }
            }
        }    
    
        .flexul{
            display: grid;
            grid-column: 1/4;
            grid-row: 8/9;
            height: 600px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 10%;
            flex-flow: column;
            margin-top: 5%;
            flex-wrap: wrap;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
                font-size: 16px;
            }
        }
        .flexum{
            display: grid;
            grid-column: 3/4;
            grid-row: 10/11;
            padding: 3%;
            height: 600px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorTerciario;
            justify-content: space-around;
            align-items: left;
            margin-left: 10%;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
        .flexur{
            display: grid;
            grid-column: 4/4;
            grid-row: 12/13;        
            padding: 3%;
            height: 600px;
            width: 300px;
            border: 2px solid gray;
            background-color: $colorSecundario;
            justify-content: space-around;
            align-items: left;
            margin-left: 35%;
            flex-flow: column;
            margin-top: 5%;
            & li {
                display: flex;
                background-color: gray;
                width: 100px;
                height: 100px;
                border: 2px solid gray;
                padding: 1%;
                flex-wrap: wrap;
                align-items: center;
                text-align: right;
                justify-content: space-around;
            }
        }
}
@media only screen and (min-width: 1300px) and (max-width: 1500px) {

    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(Edge 17/50);
    }

    nav a:hover{
        color: #002973;
    }

    div#demo.carousel.slide {
        background-color: $colorSecundario;
        width: 65%;
        height: 540px;
        margin-left: 15%;
        margin-top: 20%;
        margin-bottom: 3%;
        border: solid gray;
        & .carousel-inner {
        width: 70%;
        height: 540px;
        background-color: #530e1500;
        text-align: center;
        margin-bottom: 10%;
        margin-left: 15%;
           &  img {
        width: 45%;
        height: 500px;
            }
        }
    }    

    .flexul{
        display: grid;
        grid-column: 1/4;
        grid-row: 8/9;
        height: 700px;
        width: 400px;
        border: 2px solid gray;
        background-color: $colorSecundario;
        justify-content: space-around;
        align-items: left;
        margin-left: 10%;
        flex-flow: column;
        margin-top: 5%;
        flex-wrap: wrap;
        & li {
            display: flex;
            background-color: gray;
            width: 120px;
            height: 120px;
            border: 2px solid gray;
            padding: 1%;
            flex-wrap: wrap;
            align-items: center;
            text-align: right;
            justify-content: space-around;
            font-size: 16px;
        }
    }
    .flexum{
        display: grid;
        grid-column: 3/4;
        grid-row: 10/11;
        padding: 3%;
        height: 700px;
        width: 400px;
        border: 2px solid gray;
        background-color: $colorTerciario;
        justify-content: space-around;
        align-items: left;
        margin-left: 10%;
        flex-flow: column;
        margin-top: 5%;
        & li {
            display: flex;
            background-color: gray;
            width: 120px;
            height: 120px;
            border: 2px solid gray;
            padding: 1%;
            flex-wrap: wrap;
            align-items: center;
            text-align: right;
            justify-content: space-around;
        }
    }
    .flexur{
        display: grid;
        grid-column: 4/4;
        grid-row: 12/13;        
        padding: 3%;
        height: 700px;
        width: 400px;
        border: 2px solid gray;
        background-color: $colorSecundario;
        justify-content: space-around;
        align-items: left;
        margin-left: 3%;
        flex-flow: column;
        margin-top: 5%;
        & li {
            display: flex;
            background-color: gray;
            width: 120px;
            height: 120px;
            border: 2px solid gray;
            padding: 1%;
            flex-wrap: wrap;
            align-items: center;
            text-align: right;
            justify-content: space-around;
        }
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1600px) {
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(Edge 17/50);
    }
    
    
    div#demo.carousel.slide {
        background-color: $colorSecundario;
        width: 50%;
        height: 600px;
        margin-left: 23%;
        margin-top: 7%;
        margin-bottom: 3%;
        border: solid gray;
        & .carousel-inner {
            height: 550px;
            width: 400px;
            background-color: $colorSecundario;
            text-align: center;
            margin-bottom: 10%;
            margin-left: 30%;
            & img {
            width: 100%;
            height: 100%;
            }
        }    
    }
    .gridcontainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(Edge 17/50);
    }

    nav a:hover{
        color: #002973;
    }

    div#demo.carousel.slide {
        background-color: $colorSecundario;
        width: 65%;
        height: 540px;
        margin-left: 15%;
        margin-top: 20%;
        margin-bottom: 3%;
        border: solid gray;
        & .carousel-inner {
        width: 70%;
        height: 540px;
        background-color: #530e1500;
        text-align: center;
        margin-bottom: 10%;
        margin-left: 15%;
           &  img {
        width: 45%;
        height: 500px;
            }
        }
    }    

    .flexul{
        display: grid;
        grid-column: 1/4;
        grid-row: 8/9;
        height: 700px;
        width: 400px;
        border: 2px solid gray;
        background-color: $colorSecundario;
        justify-content: space-around;
        align-items: left;
        margin-left: 10%;
        flex-flow: column;
        margin-top: 5%;
        flex-wrap: wrap;
        & li {
            display: flex;
            background-color: gray;
            width: 120px;
            height: 120px;
            border: 2px solid gray;
            padding: 1%;
            flex-wrap: wrap;
            align-items: center;
            text-align: right;
            justify-content: space-around;
            font-size: 16px;
        }
    }
    .flexum{
        display: grid;
        grid-column: 3/4;
        grid-row: 10/11;
        padding: 3%;
        height: 700px;
        width: 400px;
        border: 2px solid gray;
        background-color: $colorTerciario;
        justify-content: space-around;
        align-items: left;
        margin-left: 10%;
        flex-flow: column;
        margin-top: 5%;
        & li {
            display: flex;
            background-color: gray;
            width: 120px;
            height: 120px;
            border: 2px solid gray;
            padding: 1%;
            flex-wrap: wrap;
            align-items: center;
            text-align: right;
            justify-content: space-around;
        }
    }
    .flexur{
        display: grid;
        grid-column: 4/4;
        grid-row: 12/13;        
        padding: 3%;
        height: 700px;
        width: 400px;
        border: 2px solid gray;
        background-color: $colorSecundario;
        justify-content: space-around;
        align-items: left;
        margin-left: 3%;
        flex-flow: column;
        margin-top: 5%;
        & li {
            display: flex;
            background-color: gray;
            width: 120px;
            height: 120px;
            border: 2px solid gray;
            padding: 1%;
            flex-wrap: wrap;
            align-items: center;
            text-align: right;
            justify-content: space-around;
        }
    }
}









