@import "variables";
@import "header";
@import "main";
@import "footer";



*{margin: 0;
padding: 0;}

.clearfix {
    clear: both;
}

body{ 
    color:white;
    background-color: $colorPrimario;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image:url(../Imagenes/fondo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(Edge 17/50);
}

a:hover{
    color: #92e2f7;
}

a{
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 360px) {
    body{ 
        color:white;
        background-color: $colorPrimario;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        height: 100%;
        background-image:url(../Imagenes/fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
