/*variables*/
/* mapa */
.btn--sombra1 {
  text-shadow: 0 0 15px violet;
}

.btn--sombra2 {
  text-shadow: 0 0 15px blue;
}

.btn--sombra3 {
  text-shadow: 0 0 15px orange;
}

.btn--sombra4 {
  text-shadow: 0 0 15px green;
}

header {
  height: 80px;
  width: 100%;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .logo {
  height: 85px;
  width: 100px;
  float: left;
  color: white;
}

header img {
  height: 80PX;
  width: 100px;
}

.gridcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (17/50)[Edge];
      grid-template-rows: repeat(Edge 17/50);
}

div#demo.carousel.slide {
  background-color: #530e15ef;
  width: 50%;
  height: 600px;
  margin-left: 23%;
  margin-top: 7%;
  margin-bottom: 3%;
  border: solid gray;
}

div#demo.carousel.slide .carousel-inner {
  height: 550px;
  width: 400px;
  background-color: #530e15ef;
  text-align: center;
  margin-bottom: 10%;
  margin-left: 30%;
}

div#demo.carousel.slide .carousel-inner img {
  width: 100%;
  height: 100%;
}

.flexul, .flexur {
  height: 800px;
  width: 470px;
  font: 17px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
  padding: 1px;
  border: 2px solid gray;
  background-color: #530e15ef;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 1%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexul li, .flexur li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  width: 120px;
  height: 120px;
  border: 2px solid gray;
  padding: 3%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}

.flexul #comic1, .flexur #comic1 {
  background-image: url(../Imagenes/Captura.PNG);
  image-rendering: auto;
  background-size: cover;
}

.flexul #comic1, .flexur #comic1 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexul #comic1:hover, .flexur #comic1:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexul #comic2, .flexur #comic2 {
  background-image: url(../Imagenes/Locke.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexul #comic2, .flexur #comic2 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexul #comic2:hover, .flexur #comic2:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexul #comic3, .flexur #comic3 {
  background-image: url(../Imagenes/Spidey.PNG);
  image-rendering: auto;
  background-size: cover;
}

.flexul #comic3, .flexur #comic3 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexul #comic3:hover, .flexur #comic3:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexul #comic4, .flexur #comic4 {
  background-image: url(../Imagenes/Tboys.PNG);
  image-rendering: auto;
  background-size: cover;
}

.flexul #comic4, .flexur #comic4 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexul #comic4:hover, .flexur #comic4:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexum {
  height: 800px;
  width: 470px;
  font: 17px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  padding: 3%;
  border: 2px solid gray;
  background-color: #041c49e8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 1%;
}

.flexum li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  width: 120px;
  height: 120px;
  border: 2px solid gray;
  padding: 1%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexum #venta1 {
  background-image: url(../Imagenes/venta1.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexum #venta1 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexum #venta1:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexum #venta2 {
  background-image: url(../Imagenes/StarwarsDP.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexum #venta2 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexum #venta2:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexum #venta3 {
  background-image: url(../Imagenes/DDevil.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexum #venta3 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexum #venta3:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexum #venta4 {
  background-image: url(../Imagenes/Ashe.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexum #venta4 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexum #venta4:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexur {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  grid-row: 10/13;
  height: 800px;
  width: 470px;
  font-size: 17px;
  border: 2px solid gray;
  background-color: #530e15;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 1%;
  margin-bottom: 2%;
}

.flexur li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
  width: 120px;
  height: 120px;
  border: 2px solid gray;
  padding: 3%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
}

.flexur #rec1 {
  background-image: url(../Imagenes/xuniverse.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexur #rec1 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexur #rec1:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexur #rec2 {
  background-image: url(../Imagenes/zombies.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexur #rec2 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexur #rec2:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexur #rec3 {
  background-image: url(../Imagenes/TWD.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexur #rec3 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexur #rec3:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

.flexur #rec4 {
  background-image: url(../Imagenes/superior.jpg);
  image-rendering: auto;
  background-size: cover;
}

.flexur #rec4 {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.flexur #rec4:hover {
  -webkit-transform: scale(1.16, 1.16);
          transform: scale(1.16, 1.16);
}

@media only screen and (max-width: 360px) {
  .gridcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: (17/50)[Edge];
        grid-template-rows: repeat(Edge 17/50);
  }
  nav a:hover {
    color: #002973;
  }
  div#demo.carousel.slide {
    background-color: #530e15ef;
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-top: 58%;
    margin-bottom: 3%;
    border: solid gray;
  }
  div#demo.carousel.slide .carousel-inner {
    width: 80%;
    height: 400px;
    background-color: #530e1500;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
  }
  div#demo.carousel.slide .carousel-inner img {
    width: 87%;
    height: 340px;
  }
  .flexul, .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    height: 600px;
    width: 300px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flexul li, .flexur li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 16px;
  }
  .flexum {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    padding: 3%;
    height: 600px;
    width: 300px;
    border: 2px solid gray;
    background-color: #041c49e8;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
  }
  .flexum li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    padding: 3%;
    height: 600px;
    width: 300px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
  }
  .flexur li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 361px) and (max-width: 750px) {
  .gridcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: (17/50)[Edge];
        grid-template-rows: repeat(Edge 17/50);
  }
  nav a:hover {
    color: #002973;
  }
  div#demo.carousel.slide {
    background-color: #530e15ef;
    width: 80%;
    height: 400px;
    margin-left: 6%;
    margin-top: 45%;
    margin-bottom: 3%;
    border: solid gray;
  }
  div#demo.carousel.slide .carousel-inner {
    width: 80%;
    height: 400px;
    background-color: #530e1500;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
  }
  div#demo.carousel.slide .carousel-inner img {
    width: 87%;
    height: 340px;
  }
  .flexul, .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    height: 650px;
    width: 300px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flexum {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    padding: 3%;
    height: 650px;
    width: 300px;
    border: 2px solid gray;
    background-color: #041c49e8;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
  }
  .flexum li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    padding: 3%;
    height: 650px;
    width: 300px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
    margin-bottom: 18%;
  }
  .flexur li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1050px) {
  .gridcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: (17/50)[Edge];
        grid-template-rows: repeat(Edge 17/50);
  }
  nav a:hover {
    color: #002973;
  }
  div#demo.carousel.slide {
    background-color: #530e15ef;
    width: 80%;
    height: 700px;
    margin-left: 6%;
    margin-top: 10%;
    margin-bottom: 3%;
    border: solid gray;
  }
  div#demo.carousel.slide .carousel-inner {
    width: 80%;
    height: 600px;
    background-color: #530e1500;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
  }
  div#demo.carousel.slide .carousel-inner img {
    width: 87%;
    height: 600px;
  }
  .flexul, .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flexul li, .flexur li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 25px;
  }
  .flexum {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    padding: 3%;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #041c49e8;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
  }
  .flexum li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flexur li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    text-align: left;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 1051px) and (max-width: 1280px) {
  .gridcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: (17/50)[Edge];
        grid-template-rows: repeat(Edge 17/50);
  }
  body {
    color: white;
    background-color: #530e15;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url(./Imagenes/fondo.jpg);
    background-size: 2500px;
    background-repeat: no-repeat;
    background-position: center;
  }
  div#demo.carousel.slide {
    background-color: #530e15ef;
    width: 65%;
    height: 700px;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 3%;
    border: solid gray;
  }
  div#demo.carousel.slide .carousel-inner {
    width: 75%;
    height: 600px;
    background-color: #530e1500;
    text-align: center;
    margin-bottom: 10%;
    margin-left: 10%;
  }
  div#demo.carousel.slide .carousel-inner img {
    width: 80%;
    height: 600px;
  }
  nav a:hover {
    color: #002973;
  }
  .flexul, .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flexul li, .flexur li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 25px;
  }
  .flexum {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    padding: 3%;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #041c49e8;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
  }
  .flexum li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flexur {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    padding: 3%;
    height: 800px;
    width: 470px;
    font-size: 17px;
    border: 2px solid gray;
    background-color: #530e15ef;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 5%;
  }
  .flexur li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: gray;
    width: 120px;
    height: 120px;
    border: 2px solid gray;
    padding: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer {
  width: 100%;
  color: white;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  height: 25px;
  width: 30px;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

body {
  color: white;
  background-color: #530e15;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-image: url(../Imagenes/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gridcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (17/50)[Edge];
      grid-template-rows: repeat(Edge 17/50);
}

a:hover {
  color: #92e2f7;
}

a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 360px) {
  body {
    color: white;
    background-color: #530e15;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url(../Imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
/*# sourceMappingURL=estilos.css.map */